body {
    background: #008888;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.card {
    background: #fdfdfd;
    border-radius: 4px;
    height: 85vh;
    width: 80vw;
    max-width: 700px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    padding: 1em;
    overflow: hidden;
    position: relative;
}

.buttonContainer {
    position: absolute;
    bottom: 2em;
    right: 2em;
}

.buttonContainer1 {
    position: absolute;
    bottom: 2em;
    left: 2em;
}

#nextPage {
    background-color: #00BBBB;
    border: 2px solid #00BBBB;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;

    transition-duration: 0.2s;
  }

#nextPage:hover {
    background-color: #00d4d4;
}

* {
    transition: all 0.1s ease-in-out;
}

#page1 {
  display: visible;
}

#page2, #page3, #page4, #page5, #page6, #page7, #page8, #page9, #page10, #page11 {
  display: none;
}

img.birthday {
    max-height: 40vh;
}

.text {
    padding: 1em;
}

.muted {
    opacity: 0.8;
}

.space {
    height: 100px;
}

@media only screen and (max-width: 410px){
    h1 {
        font-size: 22px;
    }
}
.audio {
    position: absolute;
    text-align: center;
    bottom: 1em;
    /* left: 1em; */
    opacity: 0.6;
}

@keyframes spin3D {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
  }
  .birthday:hover {
    animation-name: spin3D;
    animation-duration: 1s;
    animation-iteration-count: 1;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: ease-in-out;
  }